src/main/resources/xsd/import/languageQualificationType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="languageQualificationTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="languageQualificationType" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="code" type="xs:string" />
                            <xs:element name="name" type="xs:string" />
							<xs:element name="maximumWritingScore" type="xs:float" minOccurs="0" maxOccurs="1" />
							<xs:element name="maximumSpeakingScore" type="xs:float" minOccurs="0" maxOccurs="1" />
							<xs:element name="minimumOverallScore" type="xs:float" minOccurs="0" maxOccurs="1" />
							<xs:element name="maximumListeningScore" type="xs:float" minOccurs="0" maxOccurs="1" />
							<xs:element name="maximumReadingScore" type="xs:float" minOccurs="0" maxOccurs="1" />
							<xs:element name="maximumOverallScore" type="xs:float" minOccurs="0" maxOccurs="1" />
							<xs:element name="minimumSpeakingScore" type="xs:float" minOccurs="0" maxOccurs="1" />
							<xs:element name="minimumReadingScore" type="xs:float" minOccurs="0" maxOccurs="1" />
							<xs:element name="minimumWritingScore" type="xs:float" minOccurs="0" maxOccurs="1" />
							<xs:element name="minimumListeningScore" type="xs:float" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
