src/main/xsd/import/prismProgrammes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="code" type="xs:string"/>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="programmes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="programme" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="code"/>
                            <xs:element ref="name"/>
                            <xs:element name="modeOfAttendance">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="code"/>
                                        <xs:element ref="name"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="academicYear" type="xs:string"/>
                            <xs:element name="startDate" type="xs:string"/>
                            <xs:element name="endDate" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
