src/main/xsd/export.v1/registryData_v1_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:v1_0="http://ucl.ac.uk/isd/registry/studentrecordsdata_V1.0" 
	elementFormDefault="qualified"
	xmlns:uclBasic_v1_0="http://ucl.ac.uk/isd/uclbasic_v1_0/"
	xmlns:regBasic_v1="http://ucl.ac.uk/isd/registry/basictypes_v1"        
	targetNamespace="http://ucl.ac.uk/isd/registry/studentrecordsdata_V1.0" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
    
   <xs:annotation>
        <xs:appinfo>
            v1.0: First version released with types associated with student personal data, course information and related applications
            v1.1: Added types associated with information associated with a student's academic application when submitted to UCL                   
        </xs:appinfo>
    </xs:annotation>
    
	<xs:import namespace="http://ucl.ac.uk/isd/uclbasic_v1_0/" schemaLocation="uclbasic_v1_0.xsd" />
	<xs:import namespace="http://ucl.ac.uk/isd/registry/basictypes_v1" schemaLocation="registryBasicTypes_v1.xsd" />
	
	<!-- *********************************************
	              COMPLEX TYPES SECTION START
	       ********************************************* 
	--> 
	
	 <!--Decision Response Type -->   
	 <xs:complexType name="decisionResponseTp">
	    <xs:sequence>
	        <xs:element name="decision"  type="regBasic_v1:decisionCodesTp" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="decisionDt"  type="xs:date" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="studResponse"  type="regBasic_v1:responseCodesTp" minOccurs="0" maxOccurs="1"/>       
	        <xs:element name="studResponseDt"  type="xs:date" minOccurs="0" maxOccurs="1"/>     
	    </xs:sequence>
	 </xs:complexType>   
	           
	  <!-- Admissions Decision and response type-->
	   <xs:complexType name="admissionsdecRespTp">
	    <xs:sequence>         
	        <!-- These elements correspond to the UCL decision and student response code against each of the 2 stages -->
	        <xs:element name="stage1"  type="v1_0:decisionResponseTp" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="stage2"  type="v1_0:decisionResponseTp" minOccurs="0" maxOccurs="1"/>
	        <!--Final decision and response, the concatenation of decision and response codes -->
	        <xs:element name="decResp"  type="xs:string" minOccurs="0" maxOccurs="1"/>     
	    </xs:sequence>
	 </xs:complexType>  
	    
	  <!--Course Related Information -->   
	 <xs:complexType name="courseInfoTp">
	    <xs:sequence>
	        <xs:element name="courseCode"  type="xs:string" minOccurs="0" maxOccurs="1" />          
	        <xs:element name="graduateFlag"  type="regBasic_v1:graduateFlagTp" minOccurs="1" maxOccurs="1"/>     
	        <!--MS: Changed to affiliateFlag from affliateFlag  -->   
	        <xs:element name="affiliateFlag"  type="xs:boolean" minOccurs="0" maxOccurs="1"/>
	        <!--
	            Student on an intercalated course
	            Changed from intercalaterFlag to intercalater and changed datatype to regBasic_v1:intercalatedTp from Boolean
	        -->
	        <xs:element name="intercalater"  type="regBasic_v1:intercalatedTp" minOccurs="0" maxOccurs="1"/>     
	        <xs:element name="courseBlockBeginDt"  type="xs:date" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="courseBlockEndDt"  type="xs:date" minOccurs="0" maxOccurs="1"/>               
	        <xs:element name="routeCode"  type="xs:string" minOccurs="0" maxOccurs="1"/> 
	        <!--e.g: BA European Social and Political Studies   -->
	        <xs:element name="routeName"  type="xs:string" minOccurs="0" maxOccurs="1" />                 
	        <!--e.g: Bachelor of Arts  -->
	        <xs:element name="awardName"  type="xs:string" minOccurs="0" maxOccurs="1" />           
	        <!--Returners: A returning student would be a student who is on a continuation of their course at UCL-->
	        <xs:element name="returner"  type="xs:boolean" minOccurs="1" maxOccurs="1" />
	        <!--Finalist: Students is on their final year of the course -->
	        <xs:element name="finalist"  type="xs:boolean" minOccurs="1" maxOccurs="1" />                
	    </xs:sequence>
	 </xs:complexType> 
	   
	 <!--Course Enrolment Information -->   
	 <xs:complexType name="courseEnrolmentTp">
	    <xs:sequence>         
	        <xs:element name="courseBlock"  type="xs:string" minOccurs="1" maxOccurs="1"/>
	        <xs:element name="expectedNxtBlock"  type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="dateEnroled"  type="xs:date" minOccurs="0" maxOccurs="1"/>       
	        <xs:element name="yearEnroled"  type="xs:gYear" minOccurs="1" maxOccurs="1"/>     
	        <xs:element name="enrolmentstatus"  type="xs:string" minOccurs="0" maxOccurs="1"/>   
	    </xs:sequence>
	 </xs:complexType> 
	         
	 
	  <!--Student Course Details -->   
	 <xs:complexType name="studentCourseTp">
	    <xs:sequence>    	
	      	<xs:element name="ucasNo"   type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="applicantID"   type="xs:string" minOccurs="0" maxOccurs="1"/>    
	        <xs:element name="courseInfo"  type="v1_0:courseInfoTp" minOccurs="0" maxOccurs="1"/>  
	        <xs:element name="modeofAttendance"  type="xs:string" minOccurs="0" maxOccurs="1" />                    
	        <xs:element name="hesacourseStartDt"  type="xs:date" minOccurs="0" maxOccurs="1"/>        
	        <xs:element name="courseExpectedEndDt"  type="xs:date" minOccurs="0" maxOccurs="1"/>
	        <!--This is the date student left college. Changed name from courseEndDt to studentTerminationDt -->
	        <xs:element name="studentTerminationDt"  type="xs:date" minOccurs="0" maxOccurs="1"/>       
	        <xs:element name="courseEnrolmentDetails"   type="v1_0:courseEnrolmentTp" minOccurs="1" maxOccurs="1"/>                                    
	    </xs:sequence>
	 </xs:complexType>   
	    
	    
	 <xs:complexType name="studentPersonalDetailsTp">
	    <xs:complexContent>
	      <xs:extension base="uclBasic_v1_0:personTp">
	        <xs:sequence>        
	        <xs:element name="studentCode"   type="xs:string" minOccurs="1" maxOccurs="1"/>                  
	        <xs:element name="dob"   type="xs:date" minOccurs="0" maxOccurs="1" />       
	        <!-- Changed name from emails to studentEmailAccts 
	            studentPersonalDetailsTp will not hold a value for mainEmail for the base type
	         -->
	        <xs:element name="studentEmailAccts"   type="regBasic_v1:studentEmailTp" minOccurs="0" maxOccurs="1"/>                           
	        <xs:element name="nationality"   type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="domicile"   type="xs:string" minOccurs="0" maxOccurs="1"/>       
	        <xs:element name="homeAddress"   type="regBasic_v1:contactDtlsTp" minOccurs="0" maxOccurs="1"/>     
	        <!--Changed name from contactAddress to emergency contact address -->    
	        <xs:element name="emergencyContactAddress"   type="regBasic_v1:contactDtlsTp" minOccurs="0" maxOccurs="1"/> 
	        <xs:element name="nextofKin"   type="regBasic_v1:nextofKinTp" minOccurs="0" maxOccurs="1"/>
	        <!--Debtor flag against the student -->        
	        <xs:element name="debtFlag"   type="xs:boolean" minOccurs="0" maxOccurs="1"/>
	        <!--Fee status -->
	        <xs:element name="feeStatus"   type="regBasic_v1:feeStatusTp" minOccurs="0" maxOccurs="1"/>
	        </xs:sequence>
	      </xs:extension>
	    </xs:complexContent>
	  </xs:complexType>    
	    
	 <xs:complexType name="applicantDetailsTp">
	    <xs:sequence>
	        <xs:element name="entryMethod"   type="regBasic_v1:entryMethodTp" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="ucasNo"   type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="applicantID"   type="xs:string" minOccurs="0" maxOccurs="1"/>        
	        <xs:element name="applicationFormNo"   type="xs:string" minOccurs="1" maxOccurs="1"/>                           
	        <xs:element name="sequenceNo"   type="xs:string" minOccurs="1" maxOccurs="1"/>
	        <xs:element name="entryYear"   type="xs:gYear" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="courseInfo"  type="v1_0:courseInfoTp" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="modeofAttendance"  type="xs:string" minOccurs="0" maxOccurs="1" />                     
	        <!-- 
	            MS:
	            Change type from string to decisionResponseTp 
	        -->
	        <xs:element name="institutionResponse" type="v1_0:admissionsdecRespTp" minOccurs="0" maxOccurs="1"/>        
	        <xs:element name="courseAppCreateDt"   type="xs:date" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="courseAppBeginDt"    type="xs:date" minOccurs="0" maxOccurs="1"/>
	        <xs:element name="clearingFlag"  	   type="xs:boolean" minOccurs="0" maxOccurs="1"/>                                              
	        <xs:element name="applicationStatus"   type="xs:string" minOccurs="0" maxOccurs="1"/>                             
	    </xs:sequence>
	 </xs:complexType>   
	 
	 
	 <xs:complexType name="studentInfoTp">
	    <xs:sequence>
	      <xs:element name="personalDtls" type="v1_0:studentPersonalDetailsTp" minOccurs="0" maxOccurs="1"/>
	      <xs:element name="currYearAcademicDtls" type="v1_0:studentCourseTp" minOccurs="0" maxOccurs="1"/>
	      <xs:element name="applicantDtls" type="v1_0:applicantDetailsTp" minOccurs="0" maxOccurs="unbounded"/>                             
	    </xs:sequence>
	 </xs:complexType>   
	  
     
    <!-- Source of Interest:
        Implies where have you heard about us question.
    -->
    <xs:complexType name="sourceOfInterestTp">
        <xs:sequence>        
            <xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
   
    <!-- Qualification -->
    <xs:complexType name="qualificationTp">
        <xs:sequence>      
            <xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1" />      
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
   
   
   <!-- Qualifications in English language -->
     <xs:simpleType name="qualificationsinEnglishTp">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IELTS" />
            <xs:enumeration value="TOEFL" />       
            <xs:enumeration value="OTHER" />
        </xs:restriction>
    </xs:simpleType>
    
    <!--Language band score  -->
     <xs:simpleType name="languageBandScoreTp">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OVERALL" />
            <xs:enumeration value="READING" />       
            <xs:enumeration value="WRITING" />
            <xs:enumeration value="SPEAKING" />
            <xs:enumeration value="LISTENING" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- English language score -->
    <xs:complexType name="englishLanguageScoreTp">
        <xs:sequence>          
        	 <!-- Values allowed: READING, WRITING, SPEAKING, LISTENING and OVERALL-->		
            <xs:element name="name" type="v1_0:languageBandScoreTp" minOccurs="1" maxOccurs="1" />
            <!--Actual score against the name  -->
            <xs:element name="score" type="xs:string" minOccurs="1" maxOccurs="1" />           
        </xs:sequence>
    </xs:complexType>
    
    <!-- English Language Qualifications -->
    
    <xs:complexType name="englishLanguageTp">
        <xs:sequence>
        	<!--Values expected are : TOEFL, IELTS or OTHER  -->
        	<xs:element name="languageExam" type="v1_0:qualificationsinEnglishTp" minOccurs="1" maxOccurs="1" />
        	<!--If the value in languageExam is OTHER then specify the name of the other English exam -->
        	<xs:element name="otherLanguageExam" type="xs:string" minOccurs="0" maxOccurs="1" />
        	<!--Internet or paper based etc -->
        	<xs:element name="method" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="dateTaken" type="xs:date" minOccurs="0" maxOccurs="1" />
            <xs:element name="languageScore" type="v1_0:englishLanguageScoreTp" minOccurs="0" maxOccurs="unbounded" />            
            <xs:element name="additionalDetails" type="xs:string" minOccurs="0" maxOccurs="1" />            
        </xs:sequence>
    </xs:complexType>
    
   
    <!-- Programme -->
    <xs:complexType name="programmeTp">
        <xs:sequence>
            <xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1" />  
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />                    
            <xs:element name="modeOfAttendance" type="v1_0:modeofattendanceTp" minOccurs="0" maxOccurs="1" />                          
        </xs:sequence>
    </xs:complexType>
            
    <xs:complexType name="programmeOccurrenceTp">
        <xs:complexContent>
                 <xs:extension base="v1_0:programmeTp">
                 <xs:sequence>
                 	<xs:element name="academicYear" type="xs:gYear" minOccurs="0" maxOccurs="1" />
                 	<!--Maps to blocks in SITS  -->
                    <xs:element name="academicYearOccurrence" type="xs:string" minOccurs="1" maxOccurs="1" />                      
            		<xs:element name="block" type="xs:string" minOccurs="1" maxOccurs="1" />            		
            		<xs:element name="startDate" type="xs:date" minOccurs="0" maxOccurs="1" />
                    <xs:element name="endDate" type="xs:date" minOccurs="0" maxOccurs="1" />     
                 </xs:sequence>
                </xs:extension>
             </xs:complexContent>
    </xs:complexType>
    
    
    <!--Mode of attendance  -->
    
    <xs:complexType name="modeofattendanceTp">
        <xs:sequence>    
        	<!-- HESA define mode of attendance codes -->
         	<xs:element name="code" type="xs:string"  minOccurs="1" maxOccurs="1" />
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />           
        </xs:sequence>
    </xs:complexType>
        
    <!-- Institution -->
    <xs:complexType name="institutionTp">
        <xs:sequence>    
         	<xs:element name="code" type="xs:string"  minOccurs="1" maxOccurs="1" />
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="country" type="uclBasic_v1_0:countryTp" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    
   
    <!-- Referee -->
    <xs:complexType name="refereeTp">
        <xs:sequence>
            <xs:element name="name" type="uclBasic_v1_0:nameTp" minOccurs="1" maxOccurs="1" />
            <xs:element name="position" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="contactDetails" type="regBasic_v1:contactDtlsTp" minOccurs="0" maxOccurs="1" />
            
        </xs:sequence>
    </xs:complexType>
    
    <!-- Qualifications in progress or obtained -->
    <xs:complexType name="qualificationsTp">
        <xs:sequence>         
            <xs:element name="institution" type="v1_0:institutionTp" minOccurs="0" maxOccurs="1" />
            <xs:element name="startDate" type="xs:date" minOccurs="0" maxOccurs="1" />
            <xs:element name="endDate" type="xs:date" minOccurs="0" maxOccurs="1" />
            <xs:element name="qualification" type="v1_0:qualificationTp" minOccurs="0" maxOccurs="1" />
            <xs:element name="grade" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="mainSubject" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="languageOfInstruction" type="xs:string" minOccurs="0" maxOccurs="1" />            
        </xs:sequence>
    </xs:complexType>
    
     <xs:simpleType name="fundingTp">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Self" />
            <xs:enumeration value="Loan" />
            <xs:enumeration value="Employer" />
            <xs:enumeration value="Sponsorship" />
            <xs:enumeration value="Other" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Course Application -->
    <xs:complexType name="courseApplicationTp">
        <xs:sequence>
        	<!-- If the application source is an external system -->
            <xs:element name="externalApplicationID" type="xs:string" minOccurs="0" maxOccurs="1" />
            <!-- UCL's application identifier -->
            <xs:element name="applicationID" type="xs:string" minOccurs="0" maxOccurs="1" />
            <!--Programme includes the programme and its occurrence. Both together identify the programme in SITS  -->
            <xs:element name="programme" type="v1_0:programmeOccurrenceTp" minOccurs="1" maxOccurs="1" />                        
            <xs:element name="startMonth" type="xs:gMonth" minOccurs="0" maxOccurs="1" />
            <xs:element name="supervisorName" type="uclBasic_v1_0:nameTp" minOccurs="0" maxOccurs="1" />
            <xs:element name="personalStatement" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="interviewAvailability" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="funding" type="v1_0:fundingTp" minOccurs="0" maxOccurs="unbounded" />
            <!--If funding takes a value of Other then details about which other funding set against otherFunding  -->   
            <xs:element name="otherFunding" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="scholarship" type="v1_0:scholarshipTp" minOccurs="0" maxOccurs="1" />     
            <xs:element name="sourcesOfInterest" type="v1_0:sourceOfInterestTp" minOccurs="0" maxOccurs="1" />
            <!--If sources of interest takes a value of Other then details about which other source of interest is set against otherSourceofInterest element  -->   
            <xs:element name="otherSourceofInterest" type="xs:string" minOccurs="0" maxOccurs="1" />
            <!-- ATAS statement -->
            <xs:element name="atasStatement" type="xs:string" minOccurs="0" maxOccurs="1" />
            <!--IP address  for the person who submitted the application-->
            <xs:element name="ipAddress" type="xs:string" minOccurs="0" maxOccurs="1" />
            <!--Application creation date  -->
            <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
            <!-- Application status -->
            <xs:element name="applicationStatus" type="xs:string" minOccurs="0" maxOccurs="1" />
            <!--TODO: Can be modelled as a seperate type for recommended decision and offer conditions to be met -->
            <!--Recommended decision: R=> Rejected C=> Conditional or any other -->
            <xs:element name="departmentalDecision" type="xs:string" minOccurs="0" maxOccurs="1" />
            <!-- Recommended offer conditions -->
            <xs:element name="departmentalOfferConditions" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    
        <!-- Scholarship or Studentship -->
    <xs:complexType name="scholarshipTp">
        <xs:sequence>
            <xs:element name="awardName" type="xs:string" minOccurs="1" maxOccurs="1" />            
            <xs:element name="awardValue" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="awardDuration" type="xs:string" minOccurs="0" maxOccurs="1" />            
            <xs:element name="awardStatus" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
     <!-- Applicant Type -->
    <xs:complexType name="registrypersonTp">
        <xs:complexContent>
            <xs:extension base="uclBasic_v1_0:personTp">
                 <xs:sequence>               
                <xs:element name="dateOfBirth" type="xs:date" minOccurs="1" maxOccurs="1" />               
                <xs:element name="nationality" type="uclBasic_v1_0:nationalityTp" minOccurs="0" maxOccurs="1" />
                <xs:element name="secondaryNationality" type="uclBasic_v1_0:nationalityTp" minOccurs="0" maxOccurs="1" />
                <xs:element name="countryOfDomicile" type="uclBasic_v1_0:domicileTp" minOccurs="0" maxOccurs="1" />
                <xs:element name="countryOfBirth" type="uclBasic_v1_0:countryTp" minOccurs="0" maxOccurs="1" />
                <xs:element name="passport" type="uclBasic_v1_0:passportTp" minOccurs="0" maxOccurs="1" />
                <xs:element name="visaRequired" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false"/>
                <xs:element name="disability" type="uclBasic_v1_0:disabilityTp" minOccurs="0" maxOccurs="1" />
                <xs:element name="ethnicity" type="uclBasic_v1_0:ethnicityTp" minOccurs="0" maxOccurs="1" />                
                <xs:element name="professionalAssoc" type="uclBasic_v1_0:professionalAssociationTp" minOccurs="0" maxOccurs="1" />
                <!--Changing the address types from v1_0:registryaddressTp to regBasic_v1:contactDtlsTp  -->
                <xs:element name="homeAddress" type="regBasic_v1:contactDtlsTp" minOccurs="1" maxOccurs="1" />
                <xs:element name="correspondenceAddress" type="regBasic_v1:contactDtlsTp" minOccurs="0" maxOccurs="1" />
                <xs:element name="criminalConvictions" type="xs:boolean" minOccurs="1" maxOccurs="1" default="false"/>
                <xs:element name="criminalConvictionDetails" type="xs:string" minOccurs="0" maxOccurs="1" />
           </xs:sequence>
        </xs:extension>
       </xs:complexContent>
    </xs:complexType>
    
    <!-- Application Address Type -->
    <!-- 
    <xs:complexType name="registryaddressTp">
        <xs:complexContent>
            <xs:extension base="uclBasic_v1_0:addressTp">
                <xs:sequence>
                    <xs:element name="homeTelephone" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="workTelephone" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="mobile" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="fax" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="email" type="uclBasic_v1_0:emailTp" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
     -->
    <!-- Application -->
    <xs:complexType name="applicationTp">
        <xs:sequence>            
             <xs:choice minOccurs="0" maxOccurs="1" >                    
                    <!--This is UCL's applicantion id -->
                    <xs:element name="uclApplicationID" type="xs:string" />
                    <!--This is applicantion id for any external system
                       Q: Will there be a need to store the name of the external system that sends UCL an application
                     -->
                    <xs:element name="externalApplicationID" type="xs:string" />
            </xs:choice>   
            <!--Name for source system which calls the service to send the application  
                eg: 1) PRISM
                    2) UCL
            --> 
            <xs:element name="source" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="applicant" type="v1_0:registrypersonTp" minOccurs="1" maxOccurs="1" />
            <xs:element name="courseApplication" type="v1_0:courseApplicationTp" minOccurs="1" maxOccurs="1" />
            <xs:element name="qualificationDetails" type="v1_0:qualificationsTp" minOccurs="1" maxOccurs="unbounded" />
            <xs:element name="englishLanguageQualification" type="v1_0:englishLanguageTp" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="employer" type="uclBasic_v1_0:appointmentTp" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="referee" type="v1_0:refereeTp" minOccurs="0" maxOccurs="unbounded" />      
            
        </xs:sequence>
    </xs:complexType>
    
    <!-- *********************************************
              COMPLEX TYPES SECTION END
       *********************************************
-->
</xs:schema>
